<!-- item-register.component.html -->

<div class="item-register-container">

    <div class="container-header">
        <h4>{{ isEditMode ? 'Update' : 'Add New' }} Item</h4>
    </div>

    <form (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">

        <div class="row g-3">

            <!-- Item Name -->
            <div class="col-md-12">
                <label for="item_name" class="form-label">Item Name</label>
                <input type="text" id="item_name" name="item_name" class="form-control" required minlength="3"
                    [(ngModel)]="item.item_name" #item_name="ngModel" (blur)="checkItemName(item_name)"
                    [ngClass]="{'is-invalid': item_name.invalid && item_name.touched, 'is-valid': item_name.valid && item_name.touched}" />
                <div class="invalid-feedback" *ngIf="item_name.invalid && item_name.touched && !itemNameBelongsTo">
                    Item Name is required (min. 3 characters).
                </div>
                <div *ngIf="itemNameBelongsTo">
                    This item name belongs to the item <a routerLink="/item-edit/{{itemNameBelongsTo.id}}"
                        routerLinkActive="active-link">ID: {{itemNameBelongsTo.id}}, {{itemNameBelongsTo.item_name}}</a>
                </div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Item Quantity -->
            <div class="col-md-6">
                <label for="item_quantity" class="form-label">Quantity</label>
                <input type="number" id="item_quantity" name="item_quantity" class="form-control" required min="0"
                    [(ngModel)]="item.item_quantity" #item_quantity="ngModel"
                    [ngClass]="{'is-invalid': item_quantity.invalid && item_quantity.touched, 'is-valid': item_quantity.valid && item_quantity.touched}" />
                <div class="invalid-feedback" *ngIf="item_quantity.invalid && item_quantity.touched">
                    Quantity is required and must be greater or equal to 0.
                </div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Quantity Type -->
            <div class="col-md-6">
                <label for="quantity_type" class="form-label">Quantity Type</label>
                <select id="quantity_type" name="quantity_type" class="form-control" required
                    [(ngModel)]="item.quantity_type" #quantity_type="ngModel"
                    [ngClass]="{'is-invalid': quantity_type.invalid && quantity_type.touched, 'is-valid': quantity_type.valid && quantity_type.touched}">
                    <option *ngFor="let quantityType of quantityTypes" [ngValue]="quantityType[0]">
                        {{ quantityType[1] }}
                    </option>
                </select>

                <div class="invalid-feedback" *ngIf="quantity_type.invalid && quantity_type.touched">
                    Quantity Type is required.
                </div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Item Price -->
            <div class="col-md-6">
                <label for="item_prize" class="form-label">Item Price</label>
                <input type="number" id="item_prize" name="item_prize" class="form-control" required min="0"
                    [(ngModel)]="item.item_prize" #item_prize="ngModel"
                    [ngClass]="{'is-invalid': item_prize.invalid && item_prize.touched, 'is-valid': item_prize.valid && item_prize.touched}" />
                <div class="invalid-feedback" *ngIf="item_prize.invalid && item_prize.touched">
                    Item price is required and must be a positive number.
                </div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Item Sale Price -->
            <div class="col-md-6">
                <label for="item_sale_prize" class="form-label">Item Sale Price</label>
                <input type="number" id="item_sale_prize" name="item_sale_prize" class="form-control" required min="0"
                    [(ngModel)]="item.item_sale_prize" #item_sale_prize="ngModel"
                    [ngClass]="{'is-invalid': item_sale_prize.invalid && item_sale_prize.touched, 'is-valid': item_sale_prize.valid && item_sale_prize.touched}" />
                <div class="invalid-feedback" *ngIf="item_sale_prize.invalid && item_sale_prize.touched">
                    Sale price is required and must be a positive number.
                </div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <!-- Item Sale Price -->
            <div class="col-md-6">
                <label for="deduction_on_return" class="form-label">Return Deduction</label>
                <div class="input-group">
                    <!-- <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"> -->
                    <input type="number" id="deduction_on_return" name="deduction_on_return" class="form-control"
                        required min="0" [(ngModel)]="item.deduction_on_return" #deduction_on_return="ngModel"
                        [ngClass]="{'is-invalid': deduction_on_return.invalid && deduction_on_return.touched, 'is-valid': deduction_on_return.valid && deduction_on_return.touched}" />

                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>

                <div class="invalid-feedback" *ngIf="deduction_on_return.invalid && deduction_on_return.touched">
                    Sale price is required and must be a positive number.
                </div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Quantity Type -->
            <div class="col-md-6">
                <label for="category" class="form-label">Category</label>
                <select id="category" name="category" class="form-control" required [(ngModel)]="item.category"
                    #category="ngModel"
                    [ngClass]="{'is-invalid': category.invalid && category.touched, 'is-valid': category.valid && category.touched}">
                    <option value="electronics">Electronics</option>
                </select>
                <div class="invalid-feedback" *ngIf="category.invalid && category.touched">
                    Quantity Type is required.
                </div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Description (optional) -->
            <div class="col-md-12">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" name="description" class="form-control" [(ngModel)]="item.description"
                    #description="ngModel"
                    [ngClass]="{'is-valid': description.valid && description.touched}"></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- Submit Button -->
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-sm w-100" [disabled]="itemForm.invalid"> {{ isEditMode ?
                    'Update' : 'Add' }} Item</button>
            </div>

        </div>
    </form>
</div>