.item-register-container {
  width: 70%;
  margin: 2%  auto;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: white;

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      color: #000;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #3498db; /* Consistent focus color */
      }
    }

    .error-message {
      color: red;
      margin-top: 5px;
    }
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4285f4; /* Same blue as the button in the nav */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #357ae8; /* Darker blue on hover */
    }

    &:disabled {
      background-color: #eaeaea;
      color: #666;
      cursor: not-allowed;
    }
  }

  /* Apply hover effect similar to the links in the navbar */
  .form-control:hover {
    background-color: #f9f9f9;
  }

  /* Responsive Design */
  @media (max-width: 600px) {
    .item-register-container {
      padding: 15px;
    }
  }
}
