
/mysql_data


# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/__pycache__/*
__pycache*
migrations/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django migration files
**/migrations/*
!**/migrations/__init__.py

# Virtual environment folder
venv/
env/
ENV/

# OS files
.DS_Store

# Ignore logs and databases
*.log
*.sqlite3
