# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
000*/*

# Ignore Python bytecode files
*.pyc
__pycache__/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment folder
venv/
env/
ENV/

# OS files
.DS_Store

# Ignore logs and databases
*.log
*.sqlite3
