.item-list-container {
    width: 87%;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: white;
   
  
    .item-list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
  
      .add-item-btn {
        background-color: #4285F4;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
       
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #357ae8;
        }
      }
    }
  
  }
  