// General header styling
header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
}

// Top bar styles
.top-bar {
  background-color: #0a0a0a;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;

  a {
    color: #00ff00;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Navbar styles
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  width: 98%;
  margin: auto;

  .logo {
    font-size: 28px;
    font-weight: bold;
    color: black;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 5px;

    li {
      display: inline;
      margin: 0 5px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        padding: 3px 7px;
        transition: background-color 0.3s ease;
        border-radius: 2px;
        background-color: #d2e0e6;
        
        // Hover effect
        &:hover {
          color: #3498db;
          border-bottom: 2px solid #24726c;
        }
      }
    }
  }

  // Get Started button styles
  .get-started-btn {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #357ae8;
    }
  }
}

// Active link styling
.nav-links a.active-link {
  color: #3498db; /* Active link color */
  font-weight: bold;
  border-bottom: 2px solid #3498db; /* Add border/underline to indicate active */
}

.logout{
  color: #ffffff !important;
  background-color: #202b8e !important;
}
