<header>  
  <nav class="navbar">
    <div class="logo">
      <span>Laxmi Enterprises</span>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/item-register" routerLinkActive="active-link">Item Register</a>
      </li>
      <li>
        <a routerLink="/sales-items" routerLinkActive="active-link">Sales Items</a>
      </li>
      <li>
        <a routerLink="/sale-invoice" routerLinkActive="active-link">Sale Invoice</a>
      </li>      
      <li>
        <a routerLink="/item-list" routerLinkActive="active-link">Item List</a>
      </li>
      <li>
        <a routerLink="/customer-register" routerLinkActive="active-link">Customer Register</a>
      </li>
      <li>
        <a routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a>
      </li>
    </ul>
    <button class="get-started-btn">Get Started</button>
  </nav>
</header>
