<div class="contact-us">
    <!-- Bootstrap Row for Form Layout -->
    <div class="row g-3">
      <!-- Customer Name -->

      <h6>Shop Information : </h6>
      <div class="col-md-7">
        <p><strong>Name : </strong> {{settings.ShopName}}</p>
        <p><strong>Address : </strong>{{settings.ShopAddress}}</p>
        <p><strong>Mobile Number :</strong>{{settings.ShopMobileNumber}}</p>
      </div>
      <hr>
      <h6>Developer Information : </h6>
      <div class="col-md-7">
        <p><strong>Name : </strong>{{settings.DevelopedBy}}</p>
        <p><strong>Email : </strong>{{settings.DeveloperEmail}}</p>
        <p><strong>Mobile Number : </strong>{{settings.DeveloperMobileNumber}}</p>
      </div>
      <hr>
      <!-- Customer Name -->
    
    </div> <!-- End of Bootstrap Row -->
</div>
