<div class="invoice-form-container">
  <form (ngSubmit)="onSubmit(invoiceForm)" #invoiceForm="ngForm">
    <div class="row g-3 invoice-container">
      <div class="container-header">
        <h2>Create Invoice</h2>
        <button type="submit" class="btn btn-primary" [disabled]="invoiceForm.invalid" cl>Save Invoice</button>
      </div>
      <div class="col-md-12 table-div-container">
        <div class="row g-3">
          <div class="col-md-6 div-container">
            <!-- Customer Selection -->
            <h5>Customer Details</h5>
            <div class="col-md-12" style="margin-top:5% ;">
              <select [(ngModel)]="invoice.customer" name="customer" class="form-control" required
                (ngModelChange)="onCustomerSelect()">
                <option value="">Select Customer</option>
                <option *ngFor="let customer of customers" [ngValue]="customer.id">
                  {{ customer.mobile_number }} &nbsp;&nbsp;&nbsp; {{ customer.customer_name }}
                </option>
              </select>
              <button class="btn btn-primary mt-2" type="button" (click)="navigateToCreateCustomer()">
                + Add Customer</button>
            </div>
            <br>
            <hr>
            <h5>Customer Deposit</h5>

            <div class="col-md-12">
              <label for="balance" class="form-label">Customer Pay</label>
              <input type="number" id="customerPay" name="customerPay" #customerPay="ngModel" class="form-control"
                [(ngModel)]="invoice.customerPay" min="0" (ngModelChange)="calculateOverallTotal()" />
            </div>
            <div class="col-md-12">
              <label for="discount" class="form-label">Discount</label>
              <input type="number" id="discount" name="discount" class="form-control" #discount="ngModel"
                [(ngModel)]="invoice.discount" min="0" (ngModelChange)="calculateOverallTotal()" />
            </div>
          </div>
          <div class="col-md-2 "></div>
          <div class="col-md-4 div-container">
            <div class="row g-3">
              <div class="col-md-12">
                <h5>Transaction Summary</h5>
              </div>

              <div class="col-md-6">
                <strong>Customer:</strong>
              </div>
              <div class="col-md-6">
                {{ customer?customer.customer_name:'' }}
              </div>
              <div class="col-md-6">
                <strong>Date:</strong>
              </div>
              <div class="col-md-6">
                {{ todayDate | date:'dd-MMM-yyyy HH:mm'  }}
              </div>
              <hr>
              <div class="col-md-6">
                <strong>Total Sale (Items): </strong>
              </div>
              <div class="col-md-6">
                {{ invoice.saleItemsTotal | currency }} ({{ invoice.saleItemsTotal > 0 ?invoice.saleItems.length:0}})
              </div>
              <div class="col-md-6">
                <strong>Total Return (Items):</strong>
              </div>
              <div class="col-md-6">
                {{ invoice.returnItemsTotal | currency }} ({{ invoice.returnItemsTotal > 0 ?invoice.returnItems.length:0
                }})
              </div>
              <div class="col-md-6">
                <strong>Total Amount:</strong>
              </div>
              <div class="col-md-6">
                {{ invoice.saleItemsTotal - invoice.returnItemsTotal | currency }}
              </div>
              <div class="col-md-6">
                <strong>Discount:</strong>
              </div>
              <div class="col-md-6">
                {{ invoice.discount | currency }}
              </div>
              <div class="col-md-6">
                <strong>Invoice Total :</strong>
              </div>
              <div class="col-md-6">
                {{ invoice.invoiceTotal | currency }}
              </div>
              <hr>
              <div class="col-md-6">
                <strong>Cash Received :</strong>
              </div>
              <div class="col-md-6">
                {{ invoice.customerPay | currency }}
              </div>
              <div class="col-md-6">
                <strong>Remaning:</strong>
              </div>
              <div class="col-md-6">
                {{ invoice.invoiceTotal - invoice.customerPay | currency }}
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- Sale Items Section -->
      <div class="col-md-12 table-div-container">
        <h5>Sale Items</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Item</th>
              <th>Sale Price</th>
              <th>Quantity</th>
              <th>Quantity Type</th>
              <th>Total</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invoice.saleItems; let i = index">
              <td style="width: 25%;">
                <select [(ngModel)]="item.item" name="item{{ i }}" class="form-control"
                  (ngModelChange)="onItemChange(i, $event)" required>
                  <option value="">Select Item</option>
                  <option *ngFor="let availableItem of availableItems" [ngValue]="availableItem.id">
                    {{ availableItem.item_name }}
                  </option>
                </select>
              </td>
              <td>
                <input type="number" [(ngModel)]="item.item_sale_price" name="item_sale_price{{ i }}"
                  (ngModelChange)="calculateRowTotal(i)" class="form-control" required min="0" />
              </td>
              <td>
                <input type="number" [(ngModel)]="item.item_quantity" name="item_quantity{{ i }}" class="form-control"
                  required min="0" (ngModelChange)="calculateRowTotal(i)" />
              </td>
              <td style="width: 15%;">
                <select [(ngModel)]="item.item_quantity_type" name="item_quantity_type{{ i }}" class="form-control"
                  (ngModelChange)="calculateRowTotal(i)" required>
                  <option value="">Select Item</option>
                  <option *ngFor="let quantityType of quantityTypes" [ngValue]="quantityType[0]">
                    {{ quantityType[1] }}
                  </option>
                </select>
              </td>

              <td style="width: 10%;">
                {{ item.total | currency }}
              </td>
              <td style="width: 5%;">
                <button type="button" class="btn btn-danger btn-sm" (click)="removeItemRow(i)">-</button>
              </td>
            </tr>
            <tr>
              <td colspan="4"><strong>Total:</strong></td>
              <td><strong>{{ invoice.saleItemsTotal | currency }}</strong></td>
              <td><button type="button" class="btn btn-primary btn-sm" (click)="addItemRow()">+</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Return Items Section -->
      <div class="col-md-12 table-div-container">
        <h5>Return Items</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Item</th>
              <th>Buy Price</th>
              <th>Deduction</th>
              <th>Quantity</th>
              <th>Quantity Type</th>
              <th>Total</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invoice.returnItems; let i = index">
              <td style="width: 25%;">
                <select [(ngModel)]="item.item" name="return_item{{ i }}" class="form-control" required
                  (ngModelChange)="onReturnItemChange(i, $event)">
                  <option value="">Select Item</option>
                  <option *ngFor="let availableItem of availableItems" [ngValue]="availableItem.id">
                    {{ availableItem.item_name }}
                  </option>
                </select>
              </td>
              <td>
                <input type="number" [(ngModel)]="item.item_sale_price" name="return_item_sale_price{{ i }}"
                  class="form-control" required min="0" (ngModelChange)="calculateReturnRowTotal(i)" />
              </td>
              <td>
                <div class="input-group">
                  <!-- <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"> -->
                  <!-- <input type="number" id="deduction_on_return" name="deduction_on_return" class="form-control"
                      required min="0" [(ngModel)]="item.deduction_on_return" #deduction_on_return="ngModel"
                      [ngClass]="{'is-invalid': deduction_on_return.invalid && deduction_on_return.touched, 'is-valid': deduction_on_return.valid && deduction_on_return.touched}" /> -->

                  <input type="number" [(ngModel)]="item.deduction_on_return" name="deduction_on_return{{ i }}"
                    class="form-control" required min="0" (ngModelChange)="calculateReturnRowTotal(i)" />
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>


              </td>
              <td>
                <input type="number" [(ngModel)]="item.item_quantity" name="return_item_quantity{{ i }}"
                  class="form-control" required min="0" (ngModelChange)="calculateReturnRowTotal(i)" />
              </td>
              <td style="width: 15%;">
                <select [(ngModel)]="item.item_quantity_type" name="item_quantity_type_return{{ i }}"
                  class="form-control" (ngModelChange)="calculateReturnRowTotal(i)" required>
                  <option value="">Select Item</option>
                  <option *ngFor="let quantityType of quantityTypes" [ngValue]="quantityType[0]">
                    {{ quantityType[1] }}
                  </option>
                </select>
              </td>
              <td style="width: 10%;">
                {{ item.total | currency }}
              </td>
              <td style="width: 5%;">
                <button type="button" class="btn btn-danger btn-sm" (click)="removeReturnItemRow(i)">-</button>
              </td>
            </tr>
            <tr>
              <td colspan="5"><strong>Total:</strong></td>
              <td><strong>{{ invoice.returnItemsTotal | currency }}</strong></td>
              <td><button type="button" class="btn btn-primary btn-sm" (click)="addReturnItemRow()">+</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </form>
</div>