<footer>
    <div class="footer-container">
      <!-- Logo and Navigation Links -->
      <div class="top-section">
        <div class="logo">
          <h2>Laxmi Enterprises</h2>
        </div>
        <nav>
          <a routerLink="/sale-invoice" routerLinkActive="active-link">Create Invoice</a>
          <a routerLink="/sale-invoice-list" routerLinkActive="active-link">Invoice lists</a>
          <a routerLink="/customer-register" routerLinkActive="active-link">Customer Register</a>
          <a routerLink="/customer-list" routerLinkActive="active-link">Customer Lists</a>
          <a routerLink="/item-register" routerLinkActive="active-link">Item Register</a>
          <a routerLink="/item-list" routerLinkActive="active-link">Item List</a>
          <a routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a>
        </nav>
      </div>
  
      <!-- Social Media and Text -->
      <div class="bottom-section">
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <p>© 2024 Laxmi Enterprises. All rights reserved. Empowering your sales process with efficiency and reliability.</p>
        <!-- <nav class="footer-links">
          <a href="#">Terms of Service</a>
          <a href="#">Privacy Policy</a>
        </nav> -->
      </div>
    </div>
  
    <!-- Floating Action Buttons -->
    <!-- <div class="floating-buttons">
      <a href="#"><i class="fab fa-rocketchat"></i></a>
      <a href="#"><i class="fas fa-gem"></i></a>
      <a href="#"><i class="fas fa-water"></i></a>
      <a href="#"><i class="fas fa-paper-plane"></i></a>
    </div> -->
  </footer>
  